In [93]:
import pandas as pd
import numpy as np
from IPython.display import display
pd.options.display.max_rows = 13

In [94]:
import re 


def cleanup(text):
    import string
    punctuation = '[!-.:?;]'
    pattern = re.compile(punctuation)
    text_subbed = re.sub(pattern, ' ', text)
    return text_subbed

In [95]:
Tesla_raw = pd.read_excel (r'Tesla.xlsx')
Tesla_raw

,Tweets,Categoria,Unnamed: 2,Unnamed: 3
0,rt @bectcomputing: tesla's use of individual d...,NaN,NaN,NaN
1,tesla autopilot design 'led to' crash - https:...,NaN,NaN,NaN
2,@webmz_ yes! hope tesla is ok! i have a ridicu...,NaN,NaN,NaN
3,rt @threadreaderapp: @jerviscapital saluti ple...,NaN,NaN,NaN
4,@model3owners @elonmusk excludes usa and china...,NaN,NaN,NaN
5,@markets @business tesla made and delivered mo...,NaN,NaN,NaN
...,...,...,...,...
294,"from a car perspective, a car like this, from ...",1.0,NaN,NaN
295,as long as things continue to progress. it is ...,1.0,NaN,NaN
296,tesla sells sedans and suvs. porsche taycan is...,0.0,NaN,NaN
297,rt @teslaforthe_win: 100% percent agreed.....e...,0.0,NaN,NaN
298,this chart is the simplest and best quick comp...,0.0,NaN,NaN
299,@jays200 @model3owners @elonmusk @tesla not lo...,1.0,NaN,NaN

In [96]:
Tesla_Negative = Tesla_raw[Tesla_raw["Categoria"] == 0]
Tesla_Positive = Tesla_raw[Tesla_raw["Categoria"] == 1]
Tesla_NR = Tesla_raw[Tesla_raw["Categoria"] == 2]

In [97]:
Tesla_Negative["Tweets"]
Tesla_Positive["Tweets"]
Tesla_NR["Tweets"]

150    rt @40_head: mr @potus, when are we going to f...
159    rt @40_head: mr @potus, when are we going to f...
167    rt @joesquawk: @glatran35 @cnbc i'm so sorry. ...
171    rt @40_head: mr @potus, when are we going to f...
178    rt @timeofcalamity: good morning! after readin...
185    @40_head @potus potus' uncle got tesla's files...
                             ...
274    rt @polixenes13: every investor, long or short...
275    not model 3 orders*!\nthe thread worth reading...
278    florida man parks smart car in kitchen so hurr...
287                                  @tesletter version?
292    @enn_nafnlaus watch out at 18 seconds and 38 s...
293    interesting reading below! lol @tesla $tsla #t...
Name: Tweets, Length: 26, dtype: object

In [98]:
Tweets_N_Text = ""
for e in Tesla_Negative["Tweets"]:
    Tweets_N_Text += e

Tweets_P_Text = ""
for e in Tesla_Positive["Tweets"]:
    Tweets_P_Text += e

Tweets_NR_Text = ""
for e in Tesla_NR["Tweets"]:
    Tweets_NR_Text += e

In [106]:
Tweets_N_TextClean = cleanup(Tweets_N_Text.lower())
Tweets_P_TextClean = cleanup(Tweets_P_Text.lower())
Tweets_NR_TextClean = cleanup(Tweets_NR_Text.lower())

In [107]:
serie_N = pd.Series(Tweets_N_TextClean.split())
serie_P = pd.Series(Tweets_P_TextClean.split())
serie_NR = pd.Series(Tweets_NR_TextClean.split())

In [101]:
tabela_N = serie_N.value_counts()
tabela_P = serie_P.value_counts()
tabela_NR = serie_NR.value_counts()

In [118]:
tabela_N_relativa = serie_N.value_counts(True)
tabela_P_relativa = serie_P.value_counts(True)
tabela_NR_relativa = serie_NR.value_counts(True)

the                0.044006
tesla              0.021750
in                 0.021244
https              0.017704
is                 0.017704
//t                0.017198
                     ...
american           0.000506
@nhtsarecalls      0.000506
co/2aemxukokyrt    0.000506
widening           0.000506
taxpayer           0.000506
aging              0.000506
Length: 781, dtype: float64