In [30]:
import pandas as pd
import numpy as np
from IPython.display import display
pd.options.display.max_rows = 13

In [31]:
import re 

def cleanup(text):
    import string
    punctuation = '[!-.:?;]'
    pattern = re.compile(punctuation)
    text_subbed = re.sub(pattern, ' ', text)
    return text_subbed

In [32]:
Tesla_raw = pd.read_excel (r'Tesla.xlsx')

In [33]:
Tesla_Negative = Tesla_raw[Tesla_raw["Classificação"] == 0]
Tesla_Positive = Tesla_raw[Tesla_raw["Classificação"] == 1]
Tesla_NR = Tesla_raw[Tesla_raw["Classificação"] == 2]

In [69]:
Tesla_Negative["Treinamento"]
Tesla_Positive["Treinamento"]
Tesla_NR["Treinamento"]
Tesla_raw["Treinamento"]

0                          @tesla when coming to turkey?
1      @teslamodel3fan @vincent13031925 where i live ...
2      the tesla has auto pilot so it’s fine. maybe t...
3      @jason @weworkadam did elon not also buy a jet...
4      rt @samjmintz: interesting note from ntsb's te...
5      @italianmaster @business @ford @teamchevy @dod...
                             ...
444    @robotbeat @tesla_truth @sustainerr @anshid_np...
445    @captgibb @tesla_truth dan neil has an interes...
446    design news webinar focuses on the tesla batte...
447    elon musk: tesla pickup truck pushed back to n...
448    rt @issamahmed: mighty impressive from what i'...
449    rt @vievararosel: @podcast_spain there were no...
Name: Treinamento, Length: 450, dtype: object

In [70]:
Tweets_N_Text = ""
for e in Tesla_Negative["Treinamento"]:
    Tweets_N_Text += e

Tweets_P_Text = ""
for e in Tesla_Positive["Treinamento"]:
    Tweets_P_Text += e

Tweets_NR_Text = ""
for e in Tesla_NR["Treinamento"]:
    Tweets_NR_Text += e

Tweets_R_Text = ""
for e in Tesla_raw["Treinamento"]:
    Tweets_R_Text += e

In [71]:
Tweets_N_TextClean = cleanup(Tweets_N_Text.lower())
Tweets_P_TextClean = cleanup(Tweets_P_Text.lower())
Tweets_NR_TextClean = cleanup(Tweets_NR_Text.lower())
Tweets_R_TextClean = cleanup(Tweets_R_Text.lower())

In [72]:
serie_N = pd.Series(Tweets_N_TextClean.split())
serie_P = pd.Series(Tweets_P_TextClean.split())
serie_NR = pd.Series(Tweets_NR_TextClean.split())
serie_R = pd.Series(Tweets_R_TextClean.split())

In [79]:
tabela_N = serie_N.value_counts()
tabela_P = serie_P.value_counts()
tabela_NR = serie_NR.value_counts()
tabela_R = serie_R.value_counts()

In [80]:
tabela_N_relativa = serie_N.value_counts(True)
tabela_P_relativa = serie_P.value_counts(True)
tabela_NR_relativa = serie_NR.value_counts(True)
tabela_R_relativa = serie_R.value_counts(True)

In [81]:
N_total = len(tabela_N)
P_total = len(tabela_P)
NR_total = len(tabela_NR)
R_total = len(tabela_R)

In [125]:
def Laplace_smoothing (x, cat):
   
    if cat == 0:
        if x in tabela_N:
            return (tabela_N[x] + 1) / (N_total + R_total)
        else:
            return (1) / (N_total + R_total)
        
    if cat == 1:
        if x in tabela_P:
            return (tabela_P[x] + 1) / (P_total + R_total)
        else:
            return (1) / (P_total + R_total)
        
    if cat == 2:
        if x in tabela_NR:
            return (tabela_NR[x] + 1) / (NR_total + R_total)
        else:
            return (1) / (NR_total + R_total)

In [120]:
x = "my"
if x in tabela_N:
    print ("oi")
else:
    print("n")

oi

0.0007701193685021178

In [41]:
a = pd.read_excel (r'Tesla.xlsx', sheet_name = 'Treinamento', index = False)

In [128]:
Tweetx = ["Tesla", "is", "Nice"]
def bayes (Tweet):
   
    P0l = []
    P1l = []
    P2l = []
    P0 = 1
    P1 = 1
    P2 = 1
    
    for e in Tweet:
        P0l.append(Laplace_smoothing(e,0))
        P1l.append(Laplace_smoothing(e,1))
        P2l.append(Laplace_smoothing(e,2))
    
    for e in P0l:
        P0 *= e
    
    for e in P1l:
        P1 *= e
        
    for e in P2l:
        P2 *= e
    
    print (P0, P1, P2)
    
    if P0 > P1 and P0 > P2:
        return (0)
    
    elif P1 > P0 and P1 > P2:
        return (1)
    
    else:
        return(2)

print(bayes(Tweetx))

1.1418633841780915e-10 5.224306412101452e-11 5.877425153040722e-11
0